<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Welcome to Rummage!</h1>
            <p class="lead">An online marketplace to buy & sell pre-loved and vintage clothing! In the current climate, with so much uncertainty around being able to go out and sell or buy clothes at markets and suitcase rummages, sometimes you need a little alternative, that’s where we come in! Set up your own virtual marketplace and be able to buy and sell anytime you want!</p>
            <hr class="my-4">
            <p class="lead"><%= link_to "Add Item", new_item_path, class: "btn btn-primary btn-lg" %></p>
        </div>
        <div class="col-md-6">
            <%= image_tag "landingimage.jpg", class: "landing-image" %>
        </div>
    </div>
</div>